/* Body */

body {
  background-color: white;
}

/* navbar */

.navbar {
  background-color: #414c2e;
  font-size: 20px;
  padding: 10px;
}

.navbar-brand {
  color: white;
  font-size: 30px;
}

.navbar-toggler-icon {
  color: #e9edee;
}

.nav-link {
  color: white;
}

/* need to figure out how to change the color on hover */

/* into top card*/

#intro-top-card {
  text-align: center;
  font-weight: bold;
  font-size: large;
  background-color: #b4bda5;
}

/* Cards */

.card-images {
  padding: 10px;
  background-color: #e9edee;
}

.spacer {
  padding: 10px;
  border: 0;
}

.idiot {
  padding-top: 10px;
}
